body {
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
}

#app {
    margin-top: 3rem;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-lg {
    width: 40%;
    height: auto;
    margin: 0 auto;
}

.logo {
    width: 60px;
    height: auto;
    margin: 0 0.25rem;
}
.profilepic-nav {
    border: 1px solid black;
    border-radius: 50%;
    /* padding: 0.5rem; */
    width: 60px;
    height: 60px;
    background-color: white;
    object-fit: cover;
    object-position: center;
    margin-left: 1rem;
    cursor: pointer;
}
.profilepic-card {
    border: 1px solid black;
    /* border-radius: 50%; */
    /* padding: 0.1rem; */
    background-color: white;
    /* width: auto; */
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.profilepic-lg {
    border: 1px solid black;

    background-color: white;
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.uploader {
    position: absolute;
    width: 50vw;
    height: 50vh;
    background-color: white;
    left: 25%;
    top: 25%;
}

.modal__body {
    min-height: 15vh;
}
.modal__body-image {
    min-height: 15vh;
    display: flex;
    justify-content: space-around;
}
.profilepic-modal {
    border: 1px solid black;
    border-radius: 50%;
    /* padding: 0.5rem; */
    background-color: white;
    width: 14vh;
    height: 14vh;
    object-fit: cover;
    object-position: center;
}

#welcome {
    background-image: url(network.svg);
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 88vh;
}
#app {
    /* background-image: url(network.svg);
    background-repeat: no-repeat;
    background-position: top right; */
    /* opacity: 0.5; */
    width: 100%;
    height: 88vh;
}

.ml-auto {
    margin-left: auto;
}
.rotate {
    animation: rotate 24s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.container__bio {
    min-height: 300px;
    background-color: rgb(245, 245, 245);
    border-radius: 3px;
    border: 1px dotted black;
    padding: 12px;
}
.margin-top-3 {
    margin-top: 3rem;
}

.dist {
    display: inline-block;
    align-self: stretch;
    width: 1px;
    min-height: 1.5em;
    background-color: white;
    opacity: 0.25;
}

.btn-primary {
    background-color: rgb(61, 18, 180) !important;
    border: 1px solid rgb(61, 18, 180) !important;
}
.btn-primary:hover {
    background-color: rgb(33, 4, 114) !important;
}

.chat-container {
    width: 100%;
    height: 60vh;
    overflow: scroll;
    background-color: black;
    color: black;
    padding: 1rem;
}
.container__message {
    background-color: white;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 3px;
}
.message__body {
    display: flex;
}
.message__body.right {
    display: flex;
    justify-content: end;
}
.message__body > img.right {
    order: 1;
}

.message__text {
    margin: 1rem;
    max-width: 75%;
}

.input-container {
    margin-top: 1rem;
}

.message__meta {
    font-size: 0.8rem;
    color: lightgrey;
}
.message__meta .darkgray {
    color: rgb(148, 147, 147);
}
.message__meta.right {
    text-align: right;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}

/* footer {
    bottom: 0;
    height: 5vh;
} */
